/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7/10/2016, 05:41:46 PM
    Author     : freddy
*/

/* Especificamos la ubicacion de la Imagen(ojo) */
#pass {
	position: absolute;
	width: 32px;
	height: 32px;
	right: 0;
	top: 2px;
}
/* Ojo por defecto */
#pass.eye {
	background: url("#{request.contextPath}//resources/media/eyeC.png");
	background-size: cover;
}
/* Ojo Nuevo */
#pass.eye2 {
	background: url("#{request.contextPath}//resources/media/eyeO.png");
	background-size: cover;
}


#panelSuperior{
    
}

#panelInferior{
    text-align: center;
}


#header{
    position: fixed;
    text-align: center;
    padding: auto;
    width: 100%;
    top: 0;
    left: 0;
}
#content{
    text-align: center;
    margin-top: 70px;
    padding: auto;
    margin-bottom: 40px;
    width: 100%;
    height: 100%;
}
#footer{
    position: fixed;
    text-align: center;
    padding: auto;
    width: 100%;
    left: 0;
    bottom: 0;
}